.home{
    margin-top: 280px;
}
/* Grid layout for listings */
.listings-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 16px; 
    padding: 16px; 
}



.listing-card {
    border: 1px solid #e5e7eb; 
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
}

/* On hover shadow */
.listing-card:hover {
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.15);
}

/* Image styling */
.listing-card img {
    width: 27%;
    height: 150px;
}

/* Padding inside the card */
.listing-card-content {
    padding: 12px;
}

/* Title styling */
.listing-card-title {
    font-weight: 600;
    font-size: 1.125rem; 
}

/* Type of listing styling */
.listing-card-type {
    color: #6b7280; 
}


/* Rating styling */
.listing-card-rating {
    color: #fbbf24; 
}


@media (min-width: 640px) {
    .listings-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (min-width: 1024px) {
    .listings-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
