.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2%;
  background-color: var(--navbar-bg);
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar.light {
  --navbar-bg: #a29f9f;
  color: #000000; 
}

.navbar.dark {
  --navbar-bg: #07045c; 
  color: #ffffff; 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  display: inline-flex;
  gap: 1rem;
}

.menu.open {
  display: inline-flex; 
}

.hamburger {
  display: none; 
  cursor: pointer;
}

.theme-toggle,
.list {
  display: inline-flex;
  align-items: center;
}

.theme-toggle button,.list {
  background-color: #055ebe;
  border: none;
  color: #282c34;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle button:hover,
.list button:hover {
  background-color: #21a1f1;
}

/* Responsive Design */
@media (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: var(--navbar-bg);
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .menu.open {
    display: inline-flex; 
  }

  .hamburger {
    display: inline-flex;
    font-size: 1.5rem;
  }

  .theme-toggle,
  .counter {
    display: none;
  }
}

.menu a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: color 0.3s;
}

.menu a.active {
  font-weight: bold;
  color: var(--active-color, #007bff);
}

.menu a:hover {
  color: var(--hover-color, #0056b3);
}
